.m-5{
    margin: 5 !important;
}
.b{
    background-color: antiquewhite !important;
}
.p{
    color: brown !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: larger !important;
}
h5{
    color: brown !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: x-large !important;

}
th{
    color: brown !important;

}
.i{
    width: 100px !important;
}